App {
  background-color: white;
}

textarea {
  resize:none;
  height:calc(100vh - 20px);
  width:35%
}

html, body {
  height: 100%;
}

.container {
  background-color: white;
  height: 100%;
  width: 100%;
  display: flex;
}
canvas {
  width: 65%;
  height: 100vh;
}

.prova {
  width: 65vw;
  background-color: grey;
  height:100vh;
  display: flex;
}