App {
  background: white;
}

textarea {
  resize:none;
  height:calc(100vh - 20px);
  width:35%
}

html, body {
  height: 100vh;
  width: 100vw;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
}

/* .prova {
  position: relative;
  float: right;
  width: 65vw;
  background-color: grey;
  height:100vh;
  display:grid;
  align-content: space-evenly;
  grid-template-columns: auto auto auto;
  z-index: 1;
} */

.prova {
  overflow-y: scroll;
  background-color: green;
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-auto-rows: 50%;

}

.c-left {
  justify-self: left;
}

.left {
  justify-self: right;
}

.right {
  justify-self: left;
}

.c-right {
  justify-self: right;
}