App {
  background: white;
}

textarea {
  resize:none;
  height:calc(100vh - 20px);
  width:35%;
  font-size: 1.5em;
  background-color: #DAD7CD;
}

html, body {
  height: 100vh;
  width: 100vw;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.grid {
  overflow: scroll;
  background-color: #588157;
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-auto-rows: min(40%, 500px);

}

.c-left {
  justify-self: left;
}

.left {
  justify-self: right;
}

.right {
  justify-self: left;
}

.c-right {
  justify-self: right;
}

.print {
  position: absolute;
  margin-left: 60px;
  margin-top: calc(100vh - 50px);
  background-color: #588157;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #DAD7CD;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.print:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.print:hover {
  background-color: #3A5A40;
}

.print:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.print:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.print:active {
  background-color: #588157;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.counter {
  position: absolute;
  margin-left: 10px;
  margin-top: calc(100vh - 50px);
  background-color: #588157;
  color: #DAD7CD;
  width: 40px;
  height: 35px;
  box-sizing: border-box;
  padding: 5px;
  justify-content: center;
  align-items: center;
}