
.A4 {  
    background-color: lightgray;
    box-sizing: border-box;
    padding: 10px;
    position: relative;
    width:90%;
    aspect-ratio: 1/1.414;
    overflow: hidden;
    font-size: 1em;
    border: 0.2em solid;
    border-color: black;
    align-self: center;
  }
