
.A4 {  
    background-color: #DAD7CD;
    box-sizing: border-box;
    padding: 10px;
    position: relative;
    width:90%;
    max-width: 300px;
    overflow: hidden;
    border-color: #344E41;
    align-self: center;
  }
